.max-width
{
    width: 390px;
}
.btn-height
{
    height: 30px;
}
.btn-disabled:disabled{
    background-color: grey;
    cursor:auto;
}
input.ng-invalid.ng-dirty.ng-touched {
    @apply border-red-600
}
